<!-- <div class="navbar-fixed" appPageScroll>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">DOCYARD</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Doctors</a></li>
                <li><a href="badges.html">Hospitals</a></li>
                <li><a href="collapsible.html">Register</a></li>
                <li><a href="collapsible.html">Login</a></li>
            </ul>
        </div>
    </nav>
</div> -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DOCYARD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Doctors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Login</a>
        </li>
      </ul>
    </div>
  </nav>