.main-search {
    font-family: $font-roboto;
    justify-content: center;
    .search-string {
        width: 40%;
    }
    .location {
        width: 20%;
        border-left: 1px solid #999;
    }
    .form-control {
        border: none;
        width: 100%;
    }
    .dropdown {
        .btn {
            max-width: 200px;
            min-width: 100px;
            text-align: left;
            span {
                max-width: 150px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: inline-flex;
            }
        }
    }
    .dropdown-toggle::after {
        right: 12px;
        position: absolute;
        top: 23px;
    }
    .nav-search & {
        .search-string {
            width: 30%;
        }
        .location {
            width: 20%;
        }
        .form-control {
            border: none;
            width: 100%;
        }
        .dropdown {
            .btn {
                max-width: 150px;
                min-width: 100px;
                span {
                    max-width: 150px;
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    .main-search {
        flex-direction: column;
        .form-control,
        .form-group,
        .dropdown,
        .btn {
            width: 100%;
        }
        .dropdown {
            .btn {
                max-width: 100%;
                span {
                    max-width: 100%;
                }
            }
        }
        .dropdown,
        .form-group {
            margin-bottom: 10px;
        }
        .location {
            border-color: #ddd;
        }
    }
}

.scrolled {
    .navbar {
        box-shadow: 0 0 10px rgba(48, 63, 159, 0.8) !important;
    }
}
