.dialog {
    .k-dialog {
        min-width: 320px;
        max-width: 990px;
        width: 90%;
    }
}
.bookConfirmation {
    display: flex;
    flex-wrap: wrap;
    .floatingLabel {
        flex: 0 50%;
    }
}