<div class="container">
    <article class="main-content-wrap d-flex">
        <div class="main-content">
            <section class="doc-thumbnail">
                <h5 class="thumbnail-header">Seshu Vuggina <small class="text-muted">- 10 Year of Experience</small>
                </h5>

                <div class="thumbnail-content">
                    <aside>
                        <div class="d-flex">
                            <div class="avatar text-center">
                                <figure class="m-0">
                                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQEzxkiBN2QmPg/profile-displayphoto-shrink_200_200/0?e=1605744000&v=beta&t=iSQOnktLr7_bxGm5twg_FfqxX6JleTpQ77b1JOFrqu8"
                                        class="mr-3" alt="Profile Photo">
                                </figure>
                                <span class="badge badge-success rounded-0 d-block"><i class="thumbs-up"></i>
                                    Verified</span>
                            </div>
                            <div class="">
                                <span class="d-block text-muted">ABC | MBBS | FRCS</span>
                                <div class="media">
                                    <span class="pr-2"><i class="fa fa-stethoscope"></i>Timings: </span>
                                    <div class="media-body">
                                        10:00AM - 02:00PM <br>
                                        05:00PM - 10:00PM
                                    </div>
                                </div>
                                <span class="badge badge-success"><i class="icon-thumbs-up"></i> 92% </span>
                                <button class="btn btn-sm btn-link">999 Patient Stories</button>
                                <p>Friends you might be well aware that Angular 6 has come and true to its every release
                                    it has come with a lot of wonderful features. The new features include but not
                                    limited to updating the packages automatically, in built support for material
                                    designs and the CKD, ng add, better tree-shakability, CLI workspace and a couple of
                                    more which we will discuss in the coming articles.</p>
                                <button class="btn btn-primary btn-sm mb-2 float-right" data-toggle="modal"
                                    data-target="#callForAppointment">Call For
                                    Appointment</button>
                            </div>
                        </div>
                    </aside>
                </div>
                <div class="distance">
                    <address class="m-0 text-muted">Belladur, Bangalore</address>
                    <span class="text-warning">0.5KM</span>
                </div>
            </section>
            <!-- Tabs and Fills -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                        aria-controls="contact" aria-selected="false">Contact</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane border-left border-right border-bottom fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Friends you might be well aware that Angular 6 has come and true to its every release it has come with a lot of wonderful features.</div>
                <div class="tab-pane border-left border-right border-bottom fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">asdasd asd asd asda sdasd as</div>
                <div class="tab-pane border-left border-right border-bottom fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">aeqweqw qweqwe qwe qweqwe </div>
            </div>
        </div>
        <aside class="additional-content">
            Your Adds and Addtional Data
        </aside>
    </article>
</div>