<div class="container mt-3">
    <article class="main-content-wrap d-flex">
        <div class="main-content">
            <section class="doc-thumbnail">
                <div class="thumbnail-content">
                    <aside>
                        <div class="d-flex">
                            <div class="avatar text-center">
                                <figure class="m-0">
                                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQEzxkiBN2QmPg/profile-displayphoto-shrink_200_200/0?e=1605744000&v=beta&t=iSQOnktLr7_bxGm5twg_FfqxX6JleTpQ77b1JOFrqu8"
                                        class="mr-3" alt="Profile Photo">
                                </figure>
                                <span class="badge badge-success rounded-0 d-block"><i class="thumbs-up"></i>
                                    Verified</span>
                            </div>
                            <div class="">
                                <h5 class="mb-0">Seshu Vuggina</h5>
                                <small class="text-muted">10 Year of Experience</small>
                                <span class="d-block text-muted">ABC | MBBS | FRCS</span>
                                <div class="media">
                                    <span class="pr-2"><i class="fa fa-stethoscope"></i>Timings: </span>
                                    <div class="media-body">
                                        10:00AM - 02:00PM <br>
                                        05:00PM - 10:00PM
                                    </div>
                                </div>
                                <span class="badge badge-success"><i class="icon-thumbs-up"></i> 92% </span>
                                <button class="btn btn-sm btn-link">999 Patient Stories</button>
                                <p>Friends you might be well aware that Angular 6 has come and true to its every release
                                    it has come with a lot of wonderful features. The new features include but not
                                    limited to updating the packages automatically, in built support for material
                                    designs and the CKD, ng add, better tree-shakability, CLI workspace and a couple of
                                    more which we will discuss in the coming articles.</p>
                                <button class="btn btn-primary btn-sm mb-2 float-right" data-toggle="modal"
                                    data-target="#callForAppointment"><i class="fa fa-phone" aria-hidden="true"></i>
                                    Call For
                                    Appointment</button>
                            </div>
                        </div>
                    </aside>
                </div>
            </section>
            <!-- Tabs and Fills -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="stories-tab" data-toggle="tab" href="#stories" role="tab"
                        aria-controls="stories" aria-selected="true">Stories(5)</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">Consult Q&A</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                        aria-controls="contact" aria-selected="false">Health Feed</a>
                </li>
            </ul>
            <!-- Tab Content -->
            <div class="tab-content" id="myTabContent">
                <div class="container tab-pane border-left border-right border-bottom fade show active clearfix"
                    id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <strong class="d-block mb-1">
                                <a href="#">VK Dental Clinic</a>
                            </strong>
                            <address>
                                Tower, Hospital Junction, Kundara <br>
                                Landmark: Near to VK Enterprises, Kollam
                            </address>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <!-- Rating -->
                            <div class="container mb-4">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="well well-sm">
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6 text-center">
                                                    <h1 class="rating-num mb-0">3.5</h1>
                                                    <div class="star-rating">
                                                        <!-- https://fontawesome.com/v4.7.0/icons/ -->
                                                        <span class="fa fa-star" data-rating="1"></span>
                                                        <span class="fa fa-star" data-rating="2"></span>
                                                        <span class="fa fa-star" data-rating="3"></span>
                                                        <span class="fa fa-star-half-o" data-rating="4"></span>
                                                        <span class="fa fa-star-o" data-rating="5"></span>
                                                        <input type="hidden" name="whatever1" class="rating-value"
                                                            value="2.56">
                                                    </div>
                                                    <span class="fa fa-user"></span> 1,050,008 Total
                                                </div>
                                                <div class="col-xs-12 col-md-6">
                                                    <div class="row rating-desc">
                                                        <div
                                                            class="col-xs-3 col-md-3 text-right text-nowrap text-success">
                                                            <span class="fa fa-star green mr-1" data-rating="5"></span>
                                                            5
                                                        </div>
                                                        <div class="col-xs-8 col-md-9">
                                                            <div class="progress progress-striped">
                                                                <div class="progress-bar bg-success" role="progressbar"
                                                                    aria-valuenow="20" aria-valuemin="0"
                                                                    aria-valuemax="100" style="width: 85%">

                                                                </div>
                                                                <span class="percent">85%</span>
                                                            </div>
                                                        </div>
                                                        <!-- end 5 -->
                                                        <div
                                                            class="col-xs-3 col-md-3 text-right text-nowrap text-success">
                                                            <span class="fa fa-star mr-1" data-rating="4"></span> 4
                                                        </div>
                                                        <div class="col-xs-8 col-md-9">
                                                            <div class="progress">
                                                                <div class="progress-bar bg-success" role="progressbar"
                                                                    aria-valuenow="20" aria-valuemin="0"
                                                                    aria-valuemax="100" style="width: 70%">

                                                                </div>
                                                                <span class="percent">70%</span>
                                                            </div>
                                                        </div>
                                                        <!-- end 4 -->
                                                        <div class="col-xs-3 col-md-3 text-right text-nowrap text-info">
                                                            <span class="fa fa-star mr-1" data-rating="3"></span> 3
                                                        </div>
                                                        <div class="col-xs-8 col-md-9">
                                                            <div class="progress">
                                                                <div class="progress-bar bg-info" role="progressbar"
                                                                    aria-valuenow="20" aria-valuemin="0"
                                                                    aria-valuemax="100" style="width: 40%">

                                                                </div>
                                                                <span class="percent">40%</span>
                                                            </div>
                                                        </div>
                                                        <!-- end 3 -->
                                                        <div
                                                            class="col-xs-3 col-md-3 text-right text-nowrap text-warning">
                                                            <span class="fa fa-star mr-1" data-rating="2"></span> 2
                                                        </div>
                                                        <div class="col-xs-8 col-md-9">
                                                            <div class="progress">
                                                                <div class="progress-bar bg-warning" role="progressbar"
                                                                    aria-valuenow="20" aria-valuemin="0"
                                                                    aria-valuemax="100" style="width: 20%">

                                                                </div>
                                                                <span class="percent">20%</span>
                                                            </div>
                                                        </div>
                                                        <!-- end 2 -->
                                                        <div
                                                            class="col-xs-3 col-md-3 text-right text-nowrap text-danger">
                                                            <span class="fa fa-star mr-1" data-rating="1"></span> 1
                                                        </div>
                                                        <div class="col-xs-8 col-md-9">
                                                            <div class="progress">
                                                                <div class="progress-bar bg-danger" role="progressbar"
                                                                    aria-valuenow="80" aria-valuemin="0"
                                                                    aria-valuemax="100" style="width: 5%">
                                                                </div>
                                                                <span class="percent">5%</span>
                                                            </div>
                                                        </div>
                                                        <!-- end 1 -->
                                                    </div>
                                                    <!-- end row -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#" tabindex="-1" data-toggle="modal" data-target="#profileInfoImages">
                                <img src="https://via.placeholder.com/40">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" tabindex="-1" data-toggle="modal" data-target="#profileInfoImages">
                                <img src="https://via.placeholder.com/40">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" tabindex="-1" data-toggle="modal" data-target="#profileInfoImages">
                                <img src="https://via.placeholder.com/40">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" tabindex="-1" data-toggle="modal" data-target="#profileInfoImages">
                                <img src="https://via.placeholder.com/40">
                            </a>
                        </li>
                    </ul>
                    <button class="btn btn-primary float-right">
                        <i class="fa fa-phone" aria-hidden="true"></i> Call Now
                    </button>
                </div>
                <!-- Tab Content - Stories -->
                <div class="tab-pane border-left border-right border-bottom fade clearfix" id="stories" role="tabpanel"
                    aria-labelledby="profile-tab">
                    <h5 class="m-0">Patient Stories for Dr. Ajith R Pill</h5>
                    <small class="text-muted">These are patient’s opinions and do not necessarily reflect the doctor’s
                        medical capabilities</small>
                    <section class="doc-thumbnail">
                        <aside>
                            <div class="d-flex">
                                <div class="avatar text-center">
                                    <figure class="m-0">
                                        <img src="https://media-exp1.licdn.com/dms/image/C5603AQEzxkiBN2QmPg/profile-displayphoto-shrink_200_200/0?e=1605744000&v=beta&t=iSQOnktLr7_bxGm5twg_FfqxX6JleTpQ77b1JOFrqu8"
                                            class="mr-3" alt="Profile Photo">
                                    </figure>
                                </div>
                                <div class="">
                                    <h5 class="mb-0">Patient Name</h5>
                                    <small class="text-muted">10 Year of Experience</small>
                                    <span class="badge badge-success"><i class="icon-thumbs-up"></i> 92% </span>
                                    <button class="btn btn-sm btn-link">999 Patient Stories</button>
                                    <p>Friends you might be well aware that Angular 6 has come and true to its every
                                        release
                                        it has come with a lot of wonderful features. The new features include but not
                                        limited to updating the packages automatically, in built support for material
                                        designs and the CKD, ng add, better tree-shakability, CLI workspace and a couple
                                        of
                                        more which we will discuss in the coming articles.</p>
                                </div>
                            </div>
                        </aside>
                    </section>
                </div>

                <div class="tab-pane border-left border-right border-bottom fade clearfix" id="profile" role="tabpanel"
                    aria-labelledby="profile-tab">asdasd asd asd asda sdasd as</div>

                <div class="tab-pane border-left border-right border-bottom fade clearfix" id="contact" role="tabpanel"
                    aria-labelledby="contact-tab">aeqweqw qweqwe qwe qweqwe </div>
            </div>

            <!-- End of Tab Content -->

            <section class="services border mt-4">
                <div class="service">
                    <h5>Service Title</h5>
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a class="btn-link disabled" href="#">RCT</a></li>
                        <li class="list-inline-item"><a class="btn-link" href="#">Laser Treatments</a></li>
                        <li class="list-inline-item"><a class="btn-link" href="#">Dental Implant Fixing</a></li>
                        <li class="list-inline-item"><a class="btn-link disabled" href="#">RCT</a></li>
                        <li class="list-inline-item"><a class="btn-link" href="#">Laser Treatments</a></li>
                        <li class="list-inline-item"><a class="btn-link" href="#">Dental Implant Fixing</a></li>
                        <li class="list-inline-item"><a class="btn-link disabled" href="#">RCT</a></li>
                        <li class="list-inline-item"><a class="btn-link" href="#">Laser Treatments</a></li>
                        <li class="list-inline-item"><a class="btn-link" href="#">Dental Implant Fixing</a></li>
                    </ul>
                </div>
                <div class="service">
                    <h5>Specilization</h5>
                    <ul class="list-unstyled">
                        <li class="list-inline-item"><a class="btn-link disabled" href="#">Ortho</a></li>
                        <li class="list-inline-item"><a class="btn-link" href="#">Link Text</a></li>
                    </ul>
                </div>
                <div class="service">
                    <h5>Awards and Recognitions</h5>
                    <ul class="list-unstyled">
                        <li class="list-inline-item"><a class="btn-link disabled" href="#">World federation of
                                orthodontics - 2013</a></li>
                        <li class="list-inline-item"><a class="btn-link disabled" href="#">Academy of advanced dental
                                sciences - 2015</a></li>
                    </ul>
                </div>
                <div class="service">
                    <h5>Education</h5>
                    <ul class="list-unstyled">
                        <li class="list-inline-item"><a class="btn-link disabled" href="#">MBBS</a></li>
                        <li class="list-inline-item"><a class="btn-link" href="#">B Tech</a></li>
                    </ul>
                </div>
                <div class="service">
                    <h5>Experience</h5>
                    <ul class="list-unstyled">
                        <li class="list-inline-item"><a class="btn-link disabled" href="#">Ortho</a></li>
                        <li class="list-inline-item"><a class="btn-link" href="#">Seshu Vuggina</a></li>
                    </ul>
                </div>
            </section>
        </div>
        <aside class="additional-content">
            <small class="d-block mb-2">CONTACT CLINIC TO BOOK APPOINTMENT</small>
            <strong class="d-block">VK Dental Clinic</strong>
            <hr>
            <p class="text-center">Due to lockdown you can call the clinic to check for doctor availability and
                appointment booking.</p>
            <button class="btn btn-primary btn-block"><i class="fa fa-phone" aria-hidden="true"></i> Call Now</button>
        </aside>
    </article>
</div>

<!-- Images Dialog and Slider -->
<div class="modal fade" id="profileInfoImages" tabindex="-1" role="dialog" aria-labelledby="Profile Info Images"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Gallery</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="https://via.placeholder.com/350x150" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://via.placeholder.com/300x200" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://via.placeholder.com/400x200" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://via.placeholder.com/350x250" alt="Fourth slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>