<div class="container">
  <nav class="searchFilter d-flex">
    <form>
      <div class="form-row">
        <div class="pl-2">Filter:</div>
        <div class="col">
          <div class="dropdown">
            <button class="btn btn-sm w-100 border dropdown-toggle" type="button" id="ratingDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Rating
            </button>
            <div class="dropdown-menu" aria-labelledby="ratingDropdown">
              <a class="dropdown-item" href="#">5</a>
              <a class="dropdown-item" href="#">4 and Above</a>
              <a class="dropdown-item" href="#">3 and Above</a>
              <a class="dropdown-item" href="#">2 and Above</a>
              <a class="dropdown-item" href="#">1 and Above</a>
            </div>
          </div>
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" placeholder="Experience">
        </div>
        <div class="col">
          <input type="text" class="form-control form-control-sm" placeholder="Specilization">
        </div>
      </div>
    </form>
  </nav>

  <article class="main-content-wrap d-flex">
    <div class="main-content">
      <section class="doc-thumbnail" *ngFor="let item of [1,2,3,5]; index as idx"
        [@listAnimation]="searchResult.length">
        <h5 class="thumbnail-header">Seshu Vuggina <small class="text-muted">- 10 Year of Experience</small></h5>
        
        <div class="thumbnail-content">
          <aside>
            <div class="d-flex">
              <div class="avatar text-center">
                <figure class="m-0">
                  <img
                    src="https://media-exp1.licdn.com/dms/image/C5603AQEzxkiBN2QmPg/profile-displayphoto-shrink_200_200/0?e=1605744000&v=beta&t=iSQOnktLr7_bxGm5twg_FfqxX6JleTpQ77b1JOFrqu8"
                    class="mr-3" alt="Profile Photo">
                </figure>
                <span class="badge badge-success rounded-0 d-block"><i class="thumbs-up"></i>
                  Verified</span>
              </div>
              <div class="">
                <span class="d-block text-muted">ABC | MBBS | FRCS</span>
                <div class="media">
                  <span class="pr-2"><i class="fa fa-stethoscope"></i>Timings: </span>
                  <div class="media-body">
                    10:00AM - 02:00PM <br>
                    05:00PM - 10:00PM
                  </div>
                </div>
                <span class="badge badge-success"><i class="icon-thumbs-up"></i> 92% </span>
                <button class="btn btn-sm btn-link">999 Patient Stories</button>
              </div>
            </div>
          </aside>
          <aside class="book-appointment">
            <strong class="d-block text-center">Price : 200.00 INR</strong>
            <div class="mt-2">
              <button class="btn btn-primary btn-sm mb-2 w-100" data-toggle="modal" data-target="#callForAppointment"
                (click)="bookAppointment()">Call For Appointment</button><br>
              <button class="btn btn-primary btn-sm mb-2 w-100" data-toggle="modal" data-target="#bookAppointment"
                (click)="bookAppointment()">Book online</button>
                <button class="btn btn-primary btn-sm w-100" data-toggle="modal" data-target="#bookAppointment"
                (click)="bookAppointment()">View Profile</button>
            </div>
          </aside>
        </div>
        <div class="distance">
          <address class="m-0 text-muted">Belladur, Bangalore</address>
          <span class="text-warning">0.5KM</span>
        </div>
      </section>
    </div>
    <aside class="additional-content">
      Your Adds and Addtional Data
    </aside>
  </article>
</div>
<div class="modal fade" id="callForAppointment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Contact Numbers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <strong>Mobile: +91 9885500044</strong><br>
        <strong>Landline: 080-1234567</strong>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bookAppointment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Book Appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6 col-xs-12">
              <label for="dcotor">Doctor</label>
              <input type="text" readonly class="form-control" id="doctor" placeholder="Doctor">
            </div>
            <div class="form-group col-md-6 col-xs-12">
              <label for="hospital">Hospital</label>
              <input type="text" readonly class="form-control" id="hospital" placeholder="Hospital">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-xs-12">
              <label for="fullName">Full Name</label>
              <input type="text" class="form-control" id="fullName" placeholder="Doctor">
            </div>
            <div class="form-group col-md-6 col-xs-12">
              <label for="phone">Email</label>
              <input type="number" class="form-control" id="email" placeholder="Phone">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6 col-xs-12">
              <label for="phone">Phone</label>
              <input type="number" class="form-control" id="phone" placeholder="Phone">
            </div>
            <div class="form-group col-md-6 col-xs-12">
              <label for="inputAddress">Date and Time</label>
              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
            </div>
          </div>

          <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-sm btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>