<form class="col s12">
    <h4 class="text-center">Find the Right Doctor and Hospital</h4>
    <div class="row search-border">
        <div class="home-search">
            <kendo-dropdownlist #dropdownlist [data]="searchTypeOptions" [(ngModel)]="defaultSearchType"
                [valuePrimitive]="true" name="defaultSearchType">
            </kendo-dropdownlist>
            <input type="text" class="form-control" placeholder="Name, Location & Etc" [(ngModel)]="searchText"
                name="searchText" aria-label="Hospitals or Doctors Search Box">
            <button kendoButton [icon]="'search'" [primary]="true" (click)="loadSearchResults()">Search</button>
        </div>
    </div>
</form>

<nav class="searchFilter d-flex">
    <h1>Filter</h1>
</nav>

<section class="doc-thumbnail" *ngFor="let item of [1,2,3,5]; index as idx" [@listAnimation]="searchResult.length">
    <h5 class="thumbnail-header">Seshu Vuggina</h5>
    <div class="thumbnail-content">
        <aside>
            <div class="d-flex">
                <div class="avatar text-center">
                    <figure class="m-0">
                        <img src="https://media-exp1.licdn.com/dms/image/C5603AQEzxkiBN2QmPg/profile-displayphoto-shrink_200_200/0?e=1605744000&v=beta&t=iSQOnktLr7_bxGm5twg_FfqxX6JleTpQ77b1JOFrqu8"
                            class="mr-3" alt="Profile Photo">
                    </figure>
                    <span class="badge badge-success rounded-0 d-block"><i class="thumbs-up"></i> Verified</span>
                </div>
                <div class="">
                    <span class="d-block text-muted">ABC | MBBS | FRCS</span>
                    <small class="d-block text-muted">10 Year of Experience</small>
                    <div class="media">
                       <span class="pr-2"><i class="fa fa-stethoscope"></i>Timings: </span>
                        <div class="media-body">
                            10:00AM - 02:00PM <br>
                            05:00PM - 10:00PM
                        </div>
                    </div>
                    <span class="badge badge-success"><i class="icon-thumbs-up"></i> 92% </span>
                    <button class="btn btn-link">999 Patient Stories</button>
                </div>
            </div>
        </aside>
        <aside class="book-appointment">
            <strong>Price : 200.00 INR</strong>
            <div class="mt-2">
                <button kendoButton [primary]="true" (click)="bookAppointment()">Book Appointment</button>
            </div>
        </aside>
    </div>
    <div class="distance">
        <address class="m-0 text-muted">Belladur, Bangalore</address>
        <span class="text-warning">0.5KM</span>
    </div>
</section>

<kendo-dialog class="dialog" title="Confirm Appointment" *ngIf="opened" (close)="close()">
    <form class="bookConfirmation" [formGroup]="form" autocomplete="off">
        <kendo-floatinglabel text="First Name" class="floatingLabel">
            <input formControlName="firstName" kendoTextBox name="firstName" autocomplete="off" />
        </kendo-floatinglabel>
        <kendo-floatinglabel text="Last Name" class="floatingLabel">
            <input formControlName="lastName" kendoTextBox name="lastName" autocomplete="off" />
        </kendo-floatinglabel>
      
        <kendo-floatinglabel text="Phone" class="floatingLabel">
            <kendo-numerictextbox formControlName="phone" name="phone"></kendo-numerictextbox>
        </kendo-floatinglabel>

        <kendo-floatinglabel text="Date and Time" class="floatingLabel">
            <kendo-datetimepicker formControlName="date" name="date">
            </kendo-datetimepicker>
        </kendo-floatinglabel>

        <kendo-floatinglabel text="Address" [optional]="true" class="floatingLabel">
            <input formControlName="address" kendoTextBox name="address" />
        </kendo-floatinglabel>

        <kendo-floatinglabel text="Comments" [optional]="true" class="floatingLabel">
            <input formControlName="comments" kendoTextBox name="comments" />
        </kendo-floatinglabel>

        <kendo-floatinglabel text="Doctor" class="floatingLabel">
            <input formControlName="firstName" readonly kendoTextBox name="firstName" />
        </kendo-floatinglabel>
        <kendo-floatinglabel text="Reporting Address" class="floatingLabel">
            <input formControlName="lastName" readonly kendoTextBox name="lastName" />
        </kendo-floatinglabel>
    </form>
    <kendo-dialog-actions>
        <button kendoButton (click)="close()">Cancel</button>
        <button kendoButton [primary]="true" (click)="confirm()" primary="true">Confirm</button>
    </kendo-dialog-actions>
</kendo-dialog>