<section class="landing-banner">
    <!-- <div class="banner_background"></div> -->
    <div class="container">
        <h2>Your Banner Title Comes Here</h2>
        <div class="row">
            <form class="col s12">
                <h4 class="text-center">Find the Right Doctor and Hospital</h4>
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-primary dropdown-toggle" type="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Looking For</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Doctors</a>
                                <a class="dropdown-item" href="#">Hospitals</a>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="Recipient's username"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</section>

<section class="row">

</section>

<section class="fixedLinks">
    <a class="btn btn-primary btn-large">
        <i class="fa fa-stethoscope"></i>
        Doctor
    </a>
    <a class="btn btn-primary btn-large">
        <i class="fa fa-hospital-o"></i>
        Hospital
    </a>
    <a class="btn btn-primary btn-large">
        <i class="fa fa-medkit"></i>
        Medikit
    </a>
    <a class="btn btn-primary btn-large">
        <i class="fa fa-ambulance"></i>
        Ambulance
    </a>
</section>