@import "../../assets/sass/custom/variables.scss";
.landing-banner {
    height: 100vh;
    position: absolute;
    width: 100%;
    left: 0;
    background: -webkit-linear-gradient(45deg, #303f9f, #7b1fa2);
    background: linear-gradient(45deg, #303f9f, #7b1fa2);
    // background-image: url("../../assets/img/banner.jpeg");
    background-size: cover;
    z-index: -1;
    color: #fff;
    // .banner_background {
    //     background: -webkit-linear-gradient(45deg,#303f9f,#7b1fa2);
    //     background: linear-gradient(45deg,#303f9f,#7b1fa2);
    // }
    + section {
        top: 100vh;
        position: relative;
    }
    form {
        transform: translateY(calc(50vh - 160px));
    }
}
.landing-banner + .fixedLinks {
    padding: 10px;
    display: flex;
    border-radius: 3px;
    height: 70px;
    left: 10%;
    right: 10%;
    top: calc(100vh - 80px);
    position: fixed;
    button {
        flex-grow: 1;
        margin: 0 8px;
        font-size: 1.3rem;
        border-radius: 3px;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            padding-right: 10px;
            font-size: 1.3rem;
        }
        &:first-of-type {
            margin-left: 0;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
}
@media (min-width: 768px) {
    .landing-banner + .fixedLinks {
        width: 80%;
        background: -webkit-linear-gradient(90deg, #f8f8f8, #ffffff);
        background: linear-gradient(95deg, #f8f8f8, #ffffff);
    }
}
@media (max-width: 767.98px) {
    .main-search {
        flex-direction: column;
        height: auto;
        overflow: unset;
        background: transparent;
        .form-control {
            height: 40px;
        }
    }
    .landing-banner {
        form {
            transform: none;
            margin-top: 50px;
        }
        + .fixedLinks {
            width: 100%;
            left: 0;
            right: 0;
            position: relative;
            flex-direction: column;
            flex-wrap: unset;
            top: 100vh;
            button {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
}