<section class="landing-banner">
    <!-- <div class="banner_background"></div> -->
    <div class="container-fluid">
        <!-- <h2>Your Banner Title Comes Here</h2> -->
        <form class="col s12">
            <h4 class="text-center">Find the Right Doctor and Hospital</h4>
            <div class="row">
                <div class="home-search">
                    <kendo-dropdownlist #dropdownlist [data]="searchTypeOptions"
                    [(ngModel)]="defaultSearchType"
                    [valuePrimitive]="true"
                    (selectionChange)="selectionChange($event)"
                    name="defaultSearchType">
                    </kendo-dropdownlist>
                    <input type="text" class="form-control" name="searchText" placeholder="Name, Location & Etc"
                        aria-label="Hospitals or Doctors Search Box" [(ngModel)]="searchText">
                    <button kendoButton [icon]="'search'" [primary]="true" (click)="navigateToSearch()">Search</button>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="fixedLinks">
    <button kendoButton [primary]="true">
        <i class="fa fa-stethoscope"></i>
        Doctor
    </button>
    <button kendoButton [primary]="true">
        <i class="fa fa-hospital-o"></i>
        Hospital
    </button>
    <button kendoButton [primary]="true">
        <i class="fa fa-medkit"></i>
        Medikit
    </button>
    <button kendoButton [primary]="true">
        <i class="fa fa-ambulance"></i>
        Ambulance
    </button>
</section>